@model NPMSTORE.Models.StoreCategory

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutDashbord.cshtml";
}

<div class="edit-users">
    <div class="container">
        <div class="edit_information">
            <form asp-action="Create" method="POST" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h3 class="text-center mb-3 mt-1 p-3">Create Products</h3>
                <div class="row">
                    <div class="col-lg-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Products.Name" class="profile_details_text"></label>
                            <input asp-for="Products.Name" class="form-control" />
                            <span asp-validation-for="Products.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Products.ImageFile" class="profile_details_text"></label>
                            <input asp-for="Products.ImageFile" class="form-control" />
                            <span asp-validation-for="Products.ImageFile" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Products.Price" class="profile_details_text"></label>
                            <input asp-for="Products.Price" class="form-control" />
                            <span asp-validation-for="Products.Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Products.Seales" class="profile_details_text"></label>
                            <input asp-for="Products.Seales" class="form-control" />
                            <span asp-validation-for="Products.Seales" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                 @if (ViewBag.Categoryid != null && ViewBag.Storeid != null)
                {
                 <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label asp-for="Categoryid" class="profile_details_text"></label>
                            <select asp-for="Categoryid" class ="form-control" asp-items="ViewBag.Categoryid"></select>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                        <label asp-for="Storeid" class="profile_details_text"></label>
                        <select asp-for="Storeid" class ="form-control" asp-items="ViewBag.Storeid"></select>                        </div>
                    </div>
                 </div>
                }
                
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Products.Details" class="profile_details_text"></label>
                            <input asp-for="Products.Details" class="form-control" />
                            <span asp-validation-for="Products.Details" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 submit text-right ">
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
